<?php
session_start();
header('Content-Type: application/json');

$host = 'localhost';
$db   = 'nom_de_la_teva_base_de_dades';
$user = 'el_teu_usuari';
$pass = 'la_teva_contrassenya';

$conn = new mysqli($host, $user, $pass, $db);
if ($conn->connect_error) {
    die(json_encode(['error' => 'Error de connexió: ' . $conn->connect_error]));
}
?>
